body {
  font-size: 100%;
  color: #525252;
}
.jumbotron .container h1 {
  color: #1253a8;
}
html {
  min-height: 100%;
  position: relative;
}
html body {
  margin-bottom: 60px;
}
html #footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 60px;
  background-color: #f5f5f5;
}
html #footer .footer-block {
  margin: 20px 0;
}
